body {
  background-color: #111;
  color:antiquewhite;
  margin: 0;
  box-sizing: border-box;
}
.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  border: 3px solid #333;
  border-radius: 15px;
}
.item {
  padding: 70px;
  text-align: center;
  border: 3px solid antiquewhite;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
}
.item1 {

}
.item2 {
  
}
.item3 {
  
}
.item4 {
  
}